<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="javascripts/angular.js"></script>
    <title>
        mainpage
    </title>
</head>

<body>
    mainpage desu woong<br>
    <%= sessionid %>
</body>

</html>
